#inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    border: 1px solid gray;
    padding: 1.2rem;
    width: 90%;
    max-width: 40ch;
    font-size: 1.8rem;
    text-align: left;
    a {
      text-decoration: underline wavy var(--accent);
    }
  }

  .down {
    margin-top: 0.95rem;
    font-size: 4rem;
    text-decoration: none;
    animation: bounce 1.5s ease-in-out infinite;
  }
  .caret {
    display: inline-block;
    width: 1px;
    height: 1em;
    margin-left: -0.7rem;
    background-color: var(--foreground);
    animation: blink 1.5s ease-in-out infinite;
    vertical-align: bottom;
  }
}
